
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  src: url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
       url('../../public/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, select, textarea, button,
menu, nav, section, hgroup, article, header, aside, footer {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-weight: inherit;
    font-style: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    color: rgba(0, 0, 0, 0.87);
    cursor: default;
  
}

html,
body {
  background-color: rgba(255, 165, 0, 0.4);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-weight: inherit;
  font-style: inherit;
  height: 100vh;
  position: relative;
}